* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: antiquewhite;
}

.inactive {
    display: none;
}

nav {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid rgb(229, 214, 194);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 20px;
    position: fixed;
    background-color: antiquewhite;
    z-index: 1;
}

nav div {
    cursor:pointer;
}

nav a {
    color: black;
    text-decoration:none;
}

.menuContainer {
    position:absolute;
    background-color: antiquewhite;
    z-index: 1;
    top:38px;
    width: 35%;
    border: 2px solid rgb(229, 214, 194);
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.menuContainer a {
    margin:10px 0px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.gif img {
    width: 65px;
}

.logo img {
    width: 300px;
}

.mainScreen {
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.mainTitle {
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor:crosshair;
}

.subTitle {
    font-size: 1.6rem;
    display:flex;
    letter-spacing: 12px;
    cursor:pointer;
}

.subTitle > div:hover {
    transform: scale(1.3);
    color:teal;
    font-weight: bold;
    
}

h3 {
    letter-spacing: 10px;
    font-size: 1rem;
    font-weight: 10;
    margin-left: 20px;
}

.galeriaIlustraciones {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 183, 0);
    margin: 20px;
    padding: 20px;
}

.galeriaStoryBoards {
    display: grid;
    grid-template-columns: 1fr;
    background-color: red;
    margin: 20px;
    padding: 20px;

}

.galeriaLogos{
    display: grid;
    grid-template-columns: 1fr;
    background-color: teal;
    margin: 20px;
    padding: 20px;

}


.galeriaIlustraciones > div {
    display: grid;
    grid-template-rows: 80% 20% ;
    padding: 25px;
    margin:5px 0px
}

.galeriaStoryBoards > div {
    display: grid;
    grid-template-rows: 80% 20% ;
    padding: 25px;
    margin:5px 0px
}

.galeriaLogos > div {
    display: grid;
    grid-template-rows: 80% 20% ;
    padding: 25px;
    margin:5px 0px
}



.galeriaIlustraciones a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeriaStoryBoards a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeriaLogos a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.botonInactivo {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
}


img:hover {
    transform:scale(1.05);
}

button {
    text-align:center;
    font-size: 1rem;
    font-weight: bold;
    margin: 25px;
    width: 80px;
    padding: 10px;
    border: 2.5px solid black;
    cursor:pointer;
    background-color: antiquewhite;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.1);
    color: teal;
    font-weight: bold;
    border-color: teal;
}

.galeriaIlustraciones > div {
    border-bottom: 3px solid rgb(248, 163, 6);
}

.galeriaStoryBoards > div {
    border-bottom: 3px solid rgb(212, 11, 11);
}

.galeriaLogos > div {
    border-bottom: 3px solid teal;
}

.galeriaIlustraciones img {
    border:4px solid rgb(255, 183, 0);
}

.galeriaIlustraciones img:hover {
    border:4px solid rgb(248, 163, 6);
    background-color:rgb(248, 163, 6);
    border-radius: 5px;
}


.galeriaStoryBoards img {
    border:4px solid red;
}

.galeriaStoryBoards img:hover {
    border:4px solid rgb(212, 11, 11);
    background-color: rgb(212, 11, 11);
    border-radius: 5px;
}

.galeriaLogos img {
    border:4px solid teal;
}

.galeriaLogos img:hover {
    border:4px solid rgb(0, 151, 151);
    background-color:rgb(0, 151, 151);
    border-radius: 5px;
}