.gif img {
    width: 75px;
}

.logo img {
    width: 375px;
}

.subTitle {
    font-size: 1.8rem;
    letter-spacing: 15px;
}


.menuContainer {
    width: 25%;
    font-size: 1.7rem;
}

.galeriaIlustraciones, .galeriaStoryBoards, .galeriaLogos {
    grid-template-columns: repeat(2, 1fr);
    margin: 25px;
    padding: 10px;
}

.galeriaIlustraciones > div {

    padding: 10px;
}

.galeriaStoryBoards > div {

    padding: 10px;
}

.galeriaLogos > div {

    padding: 10px;
}

h3 {
    letter-spacing: 15px;
    font-size: 1.5rem;
    font-weight: 10;
    margin-left: 25px;
}